body { margin: 0; } 
/* fonts */
@font-face { font-family: BN6; src: url('assets/fonts/BN6FontThin.ttf'); }
@font-face { font-family: BN6;font-weight: bold; src: url('assets/fonts/BN6FontBold.ttf'); } 

.node-label{
    font-family: BN6;
    font-weight: bold;
    font-size:25px;
    text-shadow: 1px 1px rgba(0, 0, 0, 1);
}